@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.head1 {
    background-color: #1CD1B0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: auto;
}
.head2 {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 28px;
    background-color: #00669F;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    box-shadow: 0px 3px 5px 1px grey;
    width: auto;
}
main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    padding-bottom: 50px;
    margin-top: 100px;
}
.p1 {
    width: 300px;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondochico.png);
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 6px 0px grey;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.p2 {
    width: 300px;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondochica.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 6px 0px grey;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.p3 {
    width: 300px;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondo\ amazona.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 6px 0px grey;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.p4 {
    width: 300px;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondochica.png);
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 6px 0px grey;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.partecontenedor1{
    display: flex;
    margin: 15px;
    padding-bottom: 60px;
}
.partecontenedor2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo1 {
    border-radius: 60px;
    top: 128px;
    left: 90px;
    margin-bottom: 10px;
}
.t1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    top: 267px;
    left: 89px;
    margin-bottom: 10px;
}
.text1 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 16px;
    top: 312px;
    margin-bottom: 40px;
}
.boton1 {
    color: white;
    background-color: #00669F;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 15px 37px;
    margin-bottom: 20px;
}
a {
    color: white;
    text-decoration: none;
}

footer{
    background-color: #00669F;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 16px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    width: 100%;
}

@media  screen and (max-width: 1024px){
    .head1 {
        font-size: 1rem;
    }
    .head2{
        font-size:2rem
    }
    main{
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        margin: auto;
        margin-top: 50px;
        width: 90%;
        justify-content: space-around;

    }
    
}