@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.head1 {
    background-color: #1CD1B0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: auto;
}
.head2 {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 28px;
    background-color: #00669F;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    box-shadow: 0px 3px 5px 1px grey;
    width: auto;
}
.p1 {
    width: 300px;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondochico.png);
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    box-shadow: 0px 2px 6px 0px grey;
    display: inline-block;
}
.photo1 {
    border-radius: 60px;
    position: absolute;
    top: 128px;
    left: 90px;
}
.t1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    top: 267px;
    left: 89px;
}
.text1 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    top: 312px;
}
.boton1 {
    color: white;
    background-color: #00669F;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 15px 37px;
    position: absolute;
    left: 85px;
    bottom: 18px;
}
a {
    color: white;
    text-decoration: none;
}
.p2 {
    width: 300px;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondochica.png);
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0px 2px 6px 0px grey;
    display: inline-block;
}
.photo2 {
    border-radius: 60px;
    position: absolute;
    top: 128px;
    left: 90px;
}
.t2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    top: 267px;
    left: 65px;
}
.text2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    top: 312px;
}
.boton2 {
    color: white;
    background-color: #00669F;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 15px 37px;
    position: absolute;
    left: 85px;
    bottom: 18px;
}
.p3 {
    width: 300px;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondochico.png);
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    /*margin-left: 692px;*/
    box-shadow: 0px 2px 6px 0px grey;
    display: inline-block;
}
.photo3 {
    border-radius: 60px;
    position: absolute;
    top: 128px;
    left: 90px;
}
.t3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    top: 267px;
    left: 89px;
}
.text3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    top: 312px;
}
.boton3 {
    color: white;
    background-color: #00669F;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 15px 37px;
    position: absolute;
    left: 85px;
    bottom: 18px;
}
main {
    margin: auto;
    width: 90%;
    padding-bottom: 50px;
    margin-top: 100px;
}
footer{
    background-color: #00669F;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 16px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    width: 100%;
}