header {
    background-color: hsl(0, 0%, 90%);
    text-align:center;
}

h1 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:#005677;
    background-color: #C4C4C4;
}

.section {
    margin:0 auto;
    width: 70%;
}

h3 {
    padding: 0.5%; /*que tan ancho o grande va creacion un background de texto*/
    font-size: 18px ;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:#005677;
    background-color: #C4C4C4;
}

.datospersonales {
    line-height: 25px; /*interlineado*/
}

.items {
    font-weight: bold;
    font-style: italic;
}

dt {
    /*display: block;*/
    margin-inline-start: 40px; /*sangria*/
}

dd {
    padding-left: 39px;
    padding-bottom: 7px; /*una especie de interlineado de cajas de background*/
    /*display: block;*/
    margin-inline-start: 80px;
}

.foot {
    padding-top: 10px; /*lo que crece hacia arriba la caja*/
    padding-bottom: 10px; /*lo que crece hacia abajo la caja*/
    background-color: #005677;
    text-align: center;
    /*display: block;*/
}

.footdata {  
    letter-spacing: 5px;
    text-transform: uppercase;
    color:#ffffff;
    font-weight: bold;
    font-size: 20px;
    
}

.imagenes {
    vertical-align: text-bottom; /*alinear con texto*/
    padding-right:20px;
}