@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --negrocolor: #222222;
    --naranjacolor: #F0A83E;
    --cafecolor: #3C2313;
    --blancocolor:  #ffffff;
    --beigecolor: #FBFAF6;
}
/* ---------- GENERIC -----------------*/
body{
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
ul li{
    padding-right: 15px;
    display: inline-block;
}
a {
    text-decoration: none;
}
h1{
    font-size: 20px;
}
/* -----------HEADER STYLE---------------*/
/* -----------CAJA NEGRA---------------*/
.ofertas{
    background-color: var(--negrocolor);
    height: 30px;
    font-size: 12px;
    color: var(--blancocolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ofertas>div{ 
    /* el > traduce que al primer div que encuentre dentro de la clase ofertas y con espacio para aplicar a todos los div */
    padding-left: 90px;
}
.infoPais{
    padding-right: 50px;
}
/* -----------CAJA NARANJA---------------*/
.cajaNaranja {
    background-color: var(--naranjacolor);
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cajaNaranja>div{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 5px;
}
.nombrenegro{
    color: var(--negrocolor)
}
.nombreblanco{
    color: white;
}
.cajaNaranja>nav{
    padding-right: 40px;
}
.cajaNaranja>nav ul li{
    padding: 5px;
}
.cajaNaranja>nav ul li a{
    color: white;
    font-size: 13px;
    padding: 10px;
}
/* -----------MAIN STYLE---------------*/
/* ----------- BANNER ---------------*/
.banner {
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.informacion{
    width: 50%;
    text-align: center;
}
.informacion h2{
    color: var(--cafecolor);
    background-color: #fff;
    width: 50%;
    margin-inline: auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.informacion>p{
    color: var(--cafecolor);
    line-height: 50px;
}
.informacion input{
    color: var(--blancocolor);
    background-color: var(--naranjacolor);
    width: 140px;
    height: 50px;
    border-color: transparent;
    box-shadow: 2px 2px 4px rgba(48, 127, 173, 0.5);
}
/* ----------- INFORMACION PAGINA ---------------*/
.informacionPagina {
    margin-top: 50px;
    text-align: center;
}
.informacionPagina h2{
    font-size: 40px;
    color: var(--cafecolor);
    line-height: 80px;
}
.informacionPagina ul{
    color: #666666;
    font-size: 15px;
}
/* ----------- PRODUCTO DESTACADO ---------------*/
.productos{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.product1{
    background-image: url(../img/churrasquito.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--beigecolor);
    width: 265px;
    height: 312px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.product2{
    background-image: url(../img/comedero.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--beigecolor);
    width: 265px;
    height: 312px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.product3{
    background-image: url(../img/Huesito.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--beigecolor);
    width: 265px;
    height: 312px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.texto p{
    margin-bottom: 5px;
    text-align: center;
    font-size: 15px;
}
.nombreProduct {
    color: var(--cafecolor);
    font-weight: 500;
}
.precio {
    color: var(--naranjacolor);
}


/* ----------- FOOTER ---------------*/
/* ----------- CAJA CAFE ---------------*/
.cajaCafe{
    background-color: var(--cafecolor);
    height: 285px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.nombrenaranja{
    color: var(--naranjacolor);
}
.infoContacto{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.itemContacto1{
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
}
.contactoTexto{
    padding-left: 25px;
}
.contactoTexto h3{
    font-size: 20px;
    color: var(--blancocolor);
}
.contactoTexto p{
    font-size: 12px;
    color: #8A8787;
}
/* ----------- CAJA NEGRA ---------------*/
.cajaNegraB{
    background-color:var(--negrocolor);
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cajaNegraB p{
    text-align: center;
    color: var(--blancocolor);
    font-size: 12px;
}